.fixed-menu {
    position: fixed;
    top: 20%;
    right: 3%;
    z-index: $z-fixed-menu;
}

.fixed-menu__link{
    width: 5px;
    height: 5px;
    display: block;
    position: relative;

    &:after{
        content: "";
        background: #fff;
        color: #000;
        height: 9px;
        width: 9px;
        display: block;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-25%, -25%);
    }
}


.fixed-menu__item {
    margin-top: 16px;
    border-radius:50%;
    padding:7px;

    &--active {
        border:1px solid #000;
        border-color: #fff;
    }
}

