.order-section {
    background: url('../img/cta.png') center center/ cover no-repeat;
    color: #fff;
}

.form {
    display: flex;
}

.form__col { 
    flex: 1;
    margin-right: rem(27px);

    &:last-child {
        margin-right: rem(0px);
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(20px);
}

.form__block {
    flex: 1;
    margin-right: rem(20px);


    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(18px) rem(11px);
    border: solid rem(3px) transparent;
    border-radius: 4px;

    &--textarea {
        height: 9.833333rem;
        resize: none;
    }

    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.4rem;
    border-radius: 50%;
}

.form__button {
    margin-top: rem(37px);
}