.hero {
	background: url('../img/surfboard.png') center center/ cover no-repeat;
	min-height: rem(650px);
	//height: 100vh;
	color: #FFFFFF;
	//width: $containerWidth;
	//margin: 0 auto;

}

.hero__title-section {
	width: 52%;
}

.hero__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: rem(24px) 0 rem(50px) rem(80px);
	height: rem(650px);
}

.hero__mine-title {
	font-size: rem(48px);
	line-height: 1.1;
	font-weight: bold;
	margin-bottom: rem(15px);
	text-transform: uppercase;

}

.hero__title-text {
	font-size: rem(21px);
	margin-bottom: rem(28px);
	padding-right: 10%;
}
