.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
}

.radio--checkbox {
    .radio__visible {
      border-radius: rem(4px); 
      
      &:before {
          background: url("../img/check-mark.png") center center no-repeat;
      }
    }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    width: rem(25px);
    height: rem(25px);
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin-right: rem(10px);

    &:before {
        content: "" ;
        width: rem(13px);
        height: rem(13px);
        background: #FEDB3F;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 25%;
        left: 25%;
        transform: translate(-50% -50%);
    }
}

.radio__title {
    margin-right: rem(10px);
}