.section {
	display: flex;
	align-items: center;
}

.section__title {
	font-size: rem(48px);
	font-weight: bold;
	margin-bottom: rem(60px);
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}